.form-control {
    font-family: Repro_bold, serif;
}

.select2-selection {
    font-family: Repro_bold, serif;
}
.select2-selection .span {
    font-family: Repro_bold, serif;
}


#displayPrehodnost {
    margin-top: 3rem;
}

#displayPrehodnost a  {
    font-weight: bold;
    font-size: 1.9rem !important;
    margin-top: 3rem !important;
    border: 0.5rem solid #000000 !important;
    box-sizing: border-box !important;
    border-radius: 1rem !important;
}

#displayPrehodnostDetail   {
    font-size: 1.9rem !important;
    font-family: Repro_screen, serif;
    margin-top: 4.2rem !important;
}

#prehodNiMogoc {
    background: #E56C58 !important;
}
#prehodJeMogoc {
    background: #AFEFD8 !important;
}
#prehodDelnoMogoc
{
    background: #FFFF66 !important;
}
#no_pad_right {
    padding-left: 0 !important;
}
form{
    padding-left: 0 !important;

}

.bordered{
    border: 3px solid #000000 !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
}
.nopad{
    padding:0 !important;
}
.marBot{
    margin-bottom: 3rem;
}


