body {
  padding: 5vmin;
  background-color: "#E5E5E5";
}

@font-face {
  font-family: Repro_screen;
  src: url("./fonts/ABC_Repro/ABCRepro-Screen-Trial.woff2");
}

@font-face {
  font-family: Repro_bold;
  src: url("./fonts/ABC_Repro/ABCRepro-Bold-Trial.woff2");
}

@font-face {
  font-family: Repro_regular;
  src: url("./fonts/ABC_Repro/ABCRepro-Regular-Trial.woff2");
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.navbar {
  background-image: none;
  border-bottom: none;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.loadScreen {
  width: auto;
  max-height: calc(100vh - 50px);
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.svg-container {
  height: 80%;
  display: flex;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}
.eye {
  background: #ccc;
}
.eye:after {
  /*pupil*/
  background: #000;
}
modalDiv {
  font-family: Repro;
}
