body {
  padding: 50px;
  font-family: "Repro_screen", serif !important;
  background-color: "#E5E5E5";
}

@font-face {
  font-family: Repro_screen;
  src: url("./fonts/ABC_Repro/ABCRepro-Screen-Trial.woff");
}

@font-face {
  font-family: Repro_bold;
  src: url("./fonts/ABC_Repro/ABCRepro-Bold-Trial.otf");
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.btn-toolbar {
  border: 2px solid #000000;
  border-radius: 8px;
}
.navbar {
  background-image: none;
  border-bottom: none;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.loadScreen {
  width: auto;
  max-height: calc(100vh - 50px);
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.svg-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}
.active {
  background-color: green !important;
  fill: green;
}
.eye {
  background: #ccc;
}
.eye:after {
  /*pupil*/
  background: #000;
}
modalDiv {
  font-family: Repro;
}
#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}
