body {
  padding: 50px;
  font-family: "Repro_screen", serif !important;
}

@font-face {
  font-family: Repro_screen;
  src: url("./fonts/ABC_Repro/ABCRepro-Screen-Trial.woff");
}

@font-face {
  font-family: Repro_bold;
  src: url("./fonts/ABC_Repro/ABCRepro-Bold-Trial.otf");
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.navbar {
  background-image: none;
  border-bottom: none;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.eye {
  background: #ccc;
}
.eye:after {
  /*pupil*/
  background: #000;
}
modalDiv {
  font-family: Repro;
}
#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}
