<script type="text/javascript" charset="utf-8" src="../javascripts/tujeDrzave.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link href="../stylesheets/drzave.css" rel="stylesheet" />



<div class="" >
    <div  class ="row">
        <div class="btn-group col-5 align-self-center form-control">
            <p id = "sloNapis" class = "text-center " ><b>SLOVENIJA</b></p>
        </div>
        <div class = "col-2"><img src="../images/arrow-right.png" class ="img-responsive"> </div>
        <div id="no_pad_right"class="btn-group col-5 align-self-center text-center">
                <form class="col-12">
                    <select id="selectDrzavaID" class="form-control select2" onchange="onC([{{prehodneDrzave}}])">
                        {{#each drzave as |drzava|}}
                            <option id="drzava_{{@index}}">{{drzava}}</option>
                        {{/each}}
                    </select>
                </form>
            <script>
                $('.select2').select2();
            </script>
        </div>
    </div>
    <div  class = "row">
        <div id="displayPrehodnost" class = "col-12 align-self-center text-center">
        </div>
    </div>
</div>

