
<div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 center logo container align-self-center">
    <p class="col-12 center align-self-center" >Poišči skrbnika v:</p>
    <div style="display: flex; justify-content: space-between;">
        <input type="search" placeholder="Ljubljana" class="inputstyle form-control">
        <a href="./map.html"><img src="../images/search.png" height="25" width="25" alt="search button"></a>
    </div>
</div>