<head>
	<style>
		.naslov{
			margin-left:5%;
			margin-top: 2%;
			margin-bottom: 3%;

			font-family: Repro_screen;
			font-style: normal;
			font-weight: normal;
			font-size: 56px;
			line-height: 80px;

			color: #000000;
		}
		.faza{
            margin-left: 5vw;
            margin-right: 5vw;
			height: 120px;
			width: 90vw;
			border: 2px solid black;
			border-radius: 1rem;
			display: flex;
			flex-wrap: wrap;
			color: black;
		}
        .cls-1 {
            background: #7b7c7e;
        }

        .cls-4 {
            background: #fff3ae;
        }

        .cls-3 {
            background: #fcbb65;
        }

        .cls-5 {
            background: #afefd8;
        }

        .cls-2 {
            background: #e56c58;
        }
	</style>
</head>
	<div>
		<h1 class="naslov">NOVICE</h1>
	</div>
	<div>
		{{#noviceText}}
		<a class="faza" href="{{href}}" style="text-decoration: none; margin:2%">
			<h5 style="font-size: 12px; margin:2%">{{datum}}</h5>
			<h1 style="font-size: 30px; margin:0% 2% 2% 2%">{{naslov}}</h1>
		</a>
		{{/noviceText}}
	</div>
