<head>
	<style>
		.naslov{
			margin-left:5%;
			margin-top: 2%;
			margin-bottom: 3%;

			font-family: Repro_screen;
			font-style: normal;
			font-weight: normal;
			font-size: 56px;
			line-height: 80px;

			color: #000000;
		}
		.faza{
			height: 100px;
			width: 100%;
			border: 2px solid black;
			border-radius: 1rem;
			display: flex;
			flex-wrap: wrap;
		}
        .cls-1 {
            background: #7b7c7e;
        }

        .cls-4 {
            background: #fff3ae;
        }

        .cls-3 {
            background: #fcbb65;
        }

        .cls-5 {
            background: #afefd8;
        }

        .cls-2 {
            background: #e56c58;
        }
	</style>
</head>
	<div>
		<h1 class="naslov">NOVICE</h1>
	</div>