<head>
	<style>
		.naslov{
			margin-left:5%;
			margin-top: 2%;
			margin-bottom: 3%;

			font-family: Repro_screen;
			font-style: normal;
			font-weight: normal;
			font-size: 56px;
			line-height: 80px;

			color: #000000;
		}
		.faza{
			height: 100px;
			width: 100%;
			border: 2px solid black;
			border-radius: 1rem;
			display: flex;
			flex-wrap: wrap;
		}
        .cls-1 {
            background: #7b7c7e;
        }

        .cls-4 {
            background: #fff3ae;
        }

        .cls-3 {
            background: #fcbb65;
        }

        .cls-5 {
            background: #afefd8;
        }

        .cls-2 {
            background: #e56c58;
        }
	</style>
</head>
	<div>
		<h1 class="naslov">PREPREČEVANJE</h1>
        <div class="card  h-100" style="border: solid black; border-radius: 1rem">
        <div class="card-body">
<h6 class="simptomi">
            Da preprečimo okužbo s COVID-19, storimo naslednje:</h6>
            <ul>
                <li>redno umivamo roke z vodo in milom ali pa jih očistimo z alkoholnim sredstvom za roke</li>
                <li>ohranjamo 1 meter varnostne razdalje med nami in ostalimi ljudmi</li>
                <li>izogibamo se dotikanju obraza</li>
<li>prekrijemo si usta in nos ob kihanju in kašljanju</li>
<li>če se ne počutimo dobro, ostanemo doma</li>
<li>izogibamo se kajenju in ostalim aktivnostim, ki škodujejo pljučam</li>
<li>izogibamo se nenujnim potovanjem</li>
<li>izogibamo se veliki skupini ljudi</li>
            </ul>
        </div>
        </div>
	</div>