<style>
	.naslov{
		margin-left:5%;
		margin-top: 2%;
		margin-bottom: 3%;

		font-family: Repro_screen;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 80px;

		color: #000000;
	}
	.faza{
		height: 100px;
		width: 100%;
		border: 2px solid black;
		border-radius: 1rem;
		display: flex;
		flex-wrap: wrap;
	}
</style>
<div>
	<div>
		<h1 class="naslov">SEMAFOR</h1>
	</div>
	<div>
		<div class="faza" style="background-color: #7B7C7E">
		  <div style = "color:black; font-size: 40px; margin-top:35px; font-family: Repro_screen; margin-left: 20px">
			Črna
		  </div>
		</div>
		<div class="faza" style="background-color: #E66C58; margin-top: 14px">
		  <div style = "color:black; font-size: 40px; margin-top:35px; font-family: Repro_screen; margin-left: 20px">
			Rdeča
		  </div>
		</div>
		<div class="faza" style="margin-top: 14px; background-color: #FDBB65">
		  <div style = "color:black; font-size: 40px; margin-top:35px; font-family: Repro_screen; margin-left: 20px">
			Oranžna
		  </div>
		</div>
		<div class="faza" style="margin-top: 14px; background-color: #FFF3AE;">
		  <div style = "color:black; font-size: 40px; margin-top:35px; font-family: Repro_screen; margin-left: 20px">
			Rumena
		  </div>
		</div>
		<div class="faza" style="margin-top: 14px; background-color: #AFEFD8;">
		  <div style = "color:black; font-size: 40px; margin-top:35px; font-family: Repro_screen; margin-left: 20px">
			Zelena
		  </div>
		</div>
	</div>
</div>
