<head>
	<style>
		.naslov{
			margin-left:5%;
			margin-top: 2%;
			margin-bottom: 3%;

			font-family: Repro_screen;
			font-style: normal;
			font-weight: normal;
			font-size: 56px;
			line-height: 80px;

			color: #000000;
		}
		.faza{
			height: 100px;
			width: 100%;
			border: 2px solid black;
			border-radius: 1rem;
			display: flex;
			flex-wrap: wrap;
		}
        .cls-1 {
            background: #7b7c7e;
        }

        .cls-4 {
            background: #fff3ae;
        }

        .cls-3 {
            background: #fcbb65;
        }

        .cls-5 {
            background: #afefd8;
        }

        .cls-2 {
            background: #e56c58;
        }
	</style>
</head>
	<div>
		<h1 class="naslov">ZDRAVLJENJE</h1>
                <div class="card  h-100" style="border: solid black; border-radius: 1rem">
        <div class="card-body">
<h6 class="simptomi">
V Sloveniji imamo nacionalne smernice klinične obravnave bolnikov z COVID-19, ki narekujejo, da je zdravljenje simptomatsko. To pomeni, da blažimo prisotne simptome in znake bolezni. V primeru najtežjih in življenje ogrožajočih stanj pa imamo v Sloveniji na voljo vse ukrepe, ki so trenutno priporočeni v svetu.</h6>
<h6>
    Zaenkrat učinkovitega zdravila za zdravljenje okužbe z novim koronavirusom, ni. V primeru okužbe se zdravi oz. blaži simptome in nudi podporo obolelim organskih sistemom.
</h6>
        </div>
        </div>
	</div>